@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vertical {
        border-left: 1px solid #ddd;
        height: 500px;
        position: absolute;
        left: 50%;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
</script>
<body>
    <div class="vertical"></div>


    <div style="float:left;" class="container">


        <fieldset>

            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">Agreement Number</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="serialno" placeholder="Input Agreement Number" class="form-control" type="text" id="serialno1">
                    </div>
                </div>
            </div>


            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">Branch Id</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="maju" placeholder="Input Branch Id" class="form-control" type="text" id="cobaaja">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">No BPKB</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="belum" placeholder="Input No BPKB" class="form-control" type="text" id="pasti">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">Tanggal BPKB In</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="serialno" placeholder="Input Tanggal BPKB In" class="form-control" type="text" id="serialno1">
                    </div>
                </div>
            </div>


            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">Tanggal BPKB</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="maju" placeholder="Input Tanggal BPKB" class="form-control" type="text" id="cobaaja">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">No. Faktur</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="belum" placeholder="Input No Faktur" class="form-control" type="text" id="pasti">
                    </div>
                </div>
            </div>


        </fieldset>

    </div>


    <div style="float:right;">
        <fieldset>


            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">Tanggal Faktur</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="serialno" placeholder="Tanggal Faktur" class="form-control" type="text" id="serialno1">
                    </div>
                </div>
            </div>


            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">Nomor Polisi</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="maju" placeholder="Nomor Polisi" class="form-control" type="text" id="cobaaja">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label font-weight-bold">Lokasi Penyimpanan</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="belum" placeholder="Lokasi Penyimpanan" class="form-control" type="text" id="pasti">
                    </div>
                </div>
            </div>


        </fieldset>

    </div>

</body>










